{
  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "parser": "babel-eslint",

  "env": { "node": true },

  "rules": {
    "quotes": ["error", "single"],
    "semi": [2, "never"],
    "no-unused-vars": [2, { "vars": "all", "args": "all", "varsIgnorePattern": "React" }],
    "no-console": 0,
    "react/display-name": 0,
    "react/prop-types": [2, { "ignore": "navigation" }]
  }
}